Repository s-paez/profe: changes, and which pre-commit hooks are due for each by the changed paths.
All: debug-statements, end-of-file-fixer, cheack-merge-conflict, name-tests-test, flake8, ruff, black, bandit, mypy, isort

debug-statements:
  name: PROFE Debug statements
  entry: debug-statement-hook
  language: system

end-of-file-fixer:
  name: PROFE Fixing end of Python files...
  entry: end-of-file-fixer
  language: system

cheack-merge-conflict:
  name: PROFE checking merger conclicks..
  entry: check-merge-conflict
  language: system

name-tests-test:
  name: PROFE Test files pattern must be test.*\.py
  entry: name-tests-test
  language: system
  args:
  - --djandgo

flake8:
  name: PROFE Check Python standard styles with Flake8
  entry: flake8
  language: python
  additional_dependencies:
  - flake8-isort
  - flake8-docstrings
  - flake8-print
  - flake8-typing-imports
  args:
  - --max-line-length=88
  - --ignore=D400, D401, E203, I003, W503, I004, LIT003, LIT102, TYP001

ruff:
  name: PROFE File reformatting with Ruff
  entry: ruff check
  language: system
  args:
  - --fix
  - --exit-non-zero-on-fix

black:
  name: PROFE Files reformatting with Black
  entry: black
  language: system

bandit:
  name: PROFE Checking security issues with Bandit
  entry: bandit
  language: system
  args:
  - -c
  - pyproject.toml
  - --skip
  - B311

mypy:
  name: PROFE Check typing with MyPy
  entry: mypy
  language: system
  args:
  - --disallow-untyped-defs
  - --disallow-incomplete-defs
  - --config-file
  - ./pyproject.toml
  - --ignore-missing-imports

isort:
  name: PROFE Check imports order with Isort
  entry: isort
  language: python
  additional_dependencies:
  - toml

Shorter docstring
  profe/preprocess/fits_processor.py
Due: debug-statements, end-of-file-fixer, cheack-merge-conflict, flake8, ruff, black, bandit, mypy, isort

Remove unnecesary comments
  profe/preprocess/fits_processor.py
Due: debug-statements, end-of-file-fixer, cheack-merge-conflict, flake8, ruff, black, bandit, mypy, isort

Remove unncessary comments
  profe/preprocess/median_filter.py
Due: debug-statements, end-of-file-fixer, cheack-merge-conflict, flake8, ruff, black, bandit, mypy, isort

Remove unnecessary comments
  profe/preprocess/median_filter.py
Due: debug-statements, end-of-file-fixer, cheack-merge-conflict, flake8, ruff, black, bandit, mypy, isort

Instruction for development and contribution
  README.md
Due: none

Change in the spelling for the contribution instructions
  README.md
Due: none

bump version to 0.1.2 and exclude example folder
  .gitignore
  profe/output/light_curves.py
  profe/preprocess/__pycache__/cli.cpython-311.pyc
  profe/preprocess/__pycache__/fits_processor.cpython-311.pyc
  profe/preprocess/__pycache__/median_filter.cpython-311.pyc
  profe/preprocess/cli.py
  pyproject.toml
Due: debug-statements, end-of-file-fixer, cheack-merge-conflict, flake8, ruff, black, bandit, mypy, isort

Imprementation of --core command to control the number of CPU core to use
  README.md
  profe/preprocess/cli.py
  profe/preprocess/fits_processor.py
  profe/preprocess/median_filter.py
Due: debug-statements, end-of-file-fixer, cheack-merge-conflict, flake8, ruff, black, bandit, mypy, isort

new profe version
  pyproject.toml
Due: none

update FITS header history message for JD and UTMIDDLE addition
  profe/preprocess/fits_processor.py
Due: debug-statements, end-of-file-fixer, cheack-merge-conflict, flake8, ruff, black, bandit, mypy, isort

docs(cli.py,-fits_processor.py,-median_filter.py,-readme.md,-light_curves.py): corrections to pass pre-commit
  README.md
  profe/output/light_curves.py
  profe/preprocess/cli.py
  profe/preprocess/fits_processor.py
  profe/preprocess/median_filter.py
Due: debug-statements, end-of-file-fixer, cheack-merge-conflict, flake8, ruff, black, bandit, mypy, isort

docs(several-files): incorportation of the profiling analysis via pyinstrument. That is a new development dependency
  README.md
  poetry.lock
  profe/output/cli.py
  profe/preprocess/__pycache__/cli.cpython-311.pyc
  profe/preprocess/__pycache__/fits_processor.cpython-311.pyc
  profe/preprocess/__pycache__/median_filter.cpython-311.pyc
  profe/preprocess/cli.py
  profile.html
  pyproject.toml
Due: debug-statements, end-of-file-fixer, cheack-merge-conflict, flake8, ruff, black, bandit, mypy, isort

profiling folder
  profiling/profile.html
Due: none

bump version
  pyproject.toml
Due: none

test(pyproject.toml-poetry.lock-tests/): add pytest config and initial test files for PROFE
  .gitignore
  .pre-commit-config.yaml
  poetry.lock
  profe/preprocess/__pycache__/fits_processor.cpython-311.pyc
  pyproject.toml
  tests/conftest.py
  tests/test_correlated_noise.py
  tests/test_light_curves.py
  tests/test_median_filter.py
Due: debug-statements, end-of-file-fixer, cheack-merge-conflict, name-tests-test, flake8, ruff, black, bandit, mypy, isort

feat: unified cli wrapper with argparse and man handling
  profe/cli.py
Due: debug-statements, end-of-file-fixer, cheack-merge-conflict, flake8, ruff, black, bandit, mypy, isort

refactor: decouple argparse from preprocess module for unified cli
  profe/preprocess/cli.py
Due: debug-statements, end-of-file-fixer, cheack-merge-conflict, flake8, ruff, black, bandit, mypy, isort

refactor: rename main to run_output for unified cli integration
  profe/output/cli.py
Due: debug-statements, end-of-file-fixer, cheack-merge-conflict, flake8, ruff, black, bandit, mypy, isort

build: replace profe_pre and profe_out bindings with unified profe entry point
  pyproject.toml
Due: none

style(cli.py): -c is now the argument to specify the number of cores to use in the cli
  profe/cli.py
  profe/preprocess/cli.py
Due: debug-statements, end-of-file-fixer, cheack-merge-conflict, flake8, ruff, black, bandit, mypy, isort

docs(README.md): update PROFE use instructions
  README.md
Due: none

fix: correct typo in progress bar description within fits_processor.py
  profe/preprocess/fits_processor.py
Due: debug-statements, end-of-file-fixer, cheack-merge-conflict, flake8, ruff, black, bandit, mypy, isort

refactor(median_filter.py): Added a new history key header with that record preprocessing with median filter
  profe/preprocess/median_filter.py
Due: debug-statements, end-of-file-fixer, cheack-merge-conflict, flake8, ruff, black, bandit, mypy, isort

docs: update citation year to 2026 in median filter module documentation
  profe/preprocess/median_filter.py
Due: debug-statements, end-of-file-fixer, cheack-merge-conflict, flake8, ruff, black, bandit, mypy, isort

perf(preprocess/fits_processor.py): Now PROFE use key headers to avoid reprocessing and not .dat files
  profe/preprocess/fits_processor.py
Due: debug-statements, end-of-file-fixer, cheack-merge-conflict, flake8, ruff, black, bandit, mypy, isort

perf(preprocess/median_filter.py): Before applyinh median filter PROFE check the history keywords to avoid reprocessing files
  profe/preprocess/median_filter.py
Due: debug-statements, end-of-file-fixer, cheack-merge-conflict, flake8, ruff, black, bandit, mypy, isort

chore: update compiled python bytecode files in preprocess module
  profe/preprocess/__pycache__/__init__.cpython-311.pyc
  profe/preprocess/__pycache__/cli.cpython-311.pyc
  profe/preprocess/__pycache__/fits_processor.cpython-311.pyc
  profe/preprocess/__pycache__/median_filter.cpython-311.pyc
Due: none

fix(fits_processor.py): PROFE was skipping files with JD and UTMIDDLE with those keywords even if those have zeros.
  profe/preprocess/fits_processor.py
Due: debug-statements, end-of-file-fixer, cheack-merge-conflict, flake8, ruff, black, bandit, mypy, isort

style(preprocess/-files): PROFE now ignore aux files starting with . or ._
  profe/preprocess/fits_processor.py
  profe/preprocess/median_filter.py
Due: debug-statements, end-of-file-fixer, cheack-merge-conflict, flake8, ruff, black, bandit, mypy, isort

refactor(fits_processor.py): Now the raw files are stored in a "raw" folder instead the date folder. Date folder is now inside raw
  profe/preprocess/fits_processor.py
Due: debug-statements, end-of-file-fixer, cheack-merge-conflict, flake8, ruff, black, bandit, mypy, isort

perf(median_filter.py): now 'corrected_NxN/' is in organized_data/ this improve the organization of the files
  profe/preprocess/median_filter.py
Due: debug-statements, end-of-file-fixer, cheack-merge-conflict, flake8, ruff, black, bandit, mypy, isort

docs: update profiling instructions to include environment activation and html report export
  README.md
Due: none

docs: update preprocessing instructions and document output directory structure in README
  README.md
Due: none

docs: add Code Astro badge to README
  README.md
Due: none

docs: update README to clarify data reduction methods and reintroduce manual and profiling sections
  README.md
Due: none

fix: correct author name spelling in pyproject.toml
  pyproject.toml
Due: none

perf(light_curves.py): use .tbl and .csv measurement files.
  .gitignore
  .pre-commit-config.yaml
  profe/output/light_curves.py
Due: debug-statements, end-of-file-fixer, cheack-merge-conflict, flake8, ruff, black, bandit, mypy, isort

perf(light_curves.py): Remove the grouping by methods.
  profe/output/light_curves.py
Due: debug-statements, end-of-file-fixer, cheack-merge-conflict, flake8, ruff, black, bandit, mypy, isort

feat(light_curves.py): New design for the light curves plot. It now includes systematics panels
  profe/output/light_curves.py
Due: debug-statements, end-of-file-fixer, cheack-merge-conflict, flake8, ruff, black, bandit, mypy, isort

Path conditions:
  debug-statements: any of: \.py$
  end-of-file-fixer: any of: \.py$
  cheack-merge-conflict: any of: \.py$
  name-tests-test: any of: ^tests/ and \.py$
  flake8: any of: \.py$
  ruff: any of: \.py$
  black: any of: \.py$
  bandit: any of: \.py$
  mypy: any of: \.py and \.py$ and not (.*__init__\.py)
  isort: any of: \.py$
